#indBlog {
    background-color: var(--primary-accent);
    width: 100%;
    min-height: calc(100vh - 60px - 6vh);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 100px;
  }
  .blog-page{
    width: 100%;
    max-width: 750px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-blog-title{
    padding: 20px 0px;
    padding-bottom: 40px;
  }
  .main-blog-title h1{
    font-family: 'Georgia', sans-serif;
    font-size: 3rem;
  }
  .blog-authors{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-accent);
    margin-bottom: 50px;
  }
  .blog-authors>*{
    margin: 0px 5px;
    background: white;
  }
  .ind-blog-illus{
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
  }
  .disclaimer{
    font-family: var(--title-font);
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
  }
  .blog-main-content{
    max-width: 650px;
    margin-top: 50px;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .tags{
    margin-top: 40px;
  }
  .tag{
    margin: 0px 10px;
    font-size: 1.2rem;
    font-family: var(--title-font);
  }

  @media (max-width: 767px){
    #indBlog{
      padding: 100px 0px;
    }
    .blog-page{
      width: 90vw !important;
      /* background: red; */
    }
  }
  @media(max-width: 700px){
    .main-blog-title h1{
      font-size: 2.5rem;
    }
  }
  @media(max-width: 540px){
    .main-blog-title h1{
      font-size: 1.8rem;
    }
    .blog-authors{
      flex-direction: column;
    }
    .blog-authors>*{
      margin: 10px 0px;
    }
    .ind-blog-illus{
      margin: 0;
    }
  }
  