@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');
:root{
  --primary-accent: #222831;
  --secondary-accent: #FFD369;
  --title-font: 'Poppins', monospace;
}

@font-face{
  font-family: "Georgia";
  src: url("./assets/fonts/Georgia/georgia.woff") format("woff");
  font-weight: normal;
  font-size: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

/* Navbar styles */

header{
  width: 100%;
  background-color: var(--primary-accent);
  padding: 3vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: var(--title-font);
  position: fixed;
  top: 0px;
  z-index: 100;
}
.nav-profile{
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  border-radius: 50%;
  margin-right: 20px;
}
h3 .secondary-accent{
  color: var(--secondary-accent);
}
nav a{
  margin-right: 3.5vw;
  color: white;
}



.menu-modal{
  position: absolute;
  width: 100vw;
  top: 9vh;
  background: var(--primary-accent);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: translateY(-65%);
  transition: transform ease-out 500ms;
  padding-top: 40px;
  font-size: 1.2rem;
}
.menu-modal.open{
  transform: translateY(0);
}
.menu-nav{
  margin-bottom: 25px;
  margin-left: 25px;
}
.menu-nav>*{
  margin-right: 25px;
}