@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');
:root{
  --primary-accent: #222831;
  --secondary-accent: #FFD369;
  --title-font: 'Poppins', monospace;
}

@font-face{
  font-family: "Georgia";
  src: url("./assets/fonts/Georgia/georgia.woff") format("woff");
  font-weight: normal;
  font-size: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}


/* Navbar styles */

header{
  width: 100vw;
  background-color: var(--primary-accent);
  padding: 3vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: var(--title-font);
  position: fixed;
  top: 0px;
  z-index: 100;
}
.nav-profile{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-profile img{
  border-radius: 50%;
  margin-right: 20px;
}
h3 .secondary-accent{
  color: var(--secondary-accent);
}
nav a{
  margin-right: 3.5vw;
  color: white;
}



.menu-modal{
  position: fixed;
  top: calc(6vh + 60px);
  width: 100vw;
  height: 100vh;
  margin-top: -10px;
  background: var(--primary-accent);
  z-index: 1000;
  transform: translateY(-150vh);
  transition: transform 500ms ease-in;
}
.menu-modal.open{
  transform: translateY(0);
}
.menu-nav{
  height: 100%;
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.menu-nav>*{
  margin: 25px 0px;
  font-size: 1.75rem;
  font-family: var(--title-font);
}
.developed-by-menu{
  padding-top: 20px;
  border-top: 2px solid var(--secondary-accent);
  font-size: 1.25rem;
  color: var(--secondary-accent)
}


footer{
  width: 100vw !important;
  background: white;
  position: relative;
  bottom: 0;
  font-family: var(--title-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.developed-with img{
  height: 60px;
}
.developed-by{
  padding: 0 50px;
}
.developed-with{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
}
.developed-with span{
  margin-right: 10px;
}
@media (max-width: 600px){
  footer{
    flex-direction: column;
  }
  footer>*{
    padding: 0 !important;
    margin: 10px 0px;
  }
  
}
