@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');
:root{
  --primary-accent: #222831;
  --secondary-accent: #FFD369;
  --title-font: 'Poppins', monospace;
}

@font-face{
  font-family: "Georgia";
  src: url("./assets/fonts/Georgia/georgia.woff") format("woff");
  font-weight: normal;
  font-size: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  overflow-x: hidden !important;
}

/* Navbar styles */

header{
  width: 100%;
  background-color: var(--primary-accent);
  padding: 3vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: var(--title-font);
  position: fixed;
  top: 0px;
  z-index: 100;
}
.nav-profile{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-profile img{
  border-radius: 50%;
  margin-right: 20px;
}
h3 .secondary-accent{
  color: var(--secondary-accent);
}
nav a{
  margin-right: 3.5vw;
  color: white;
}



.menu-modal{
  position: absolute;
  width: 100vw;
  top: 9vh;
  background: var(--primary-accent);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: translateY(-65%);
  transition: transform ease-out 500ms;
  padding-top: 40px;
  font-size: 1.2rem;
}
.menu-modal.open{
  transform: translateY(0);
}
.menu-nav{
  margin-bottom: 25px;
  margin-left: 25px;
}
.menu-nav>*{
  margin-right: 25px;
}


footer{
  width: 100%;
  background: white;
  position: relative;
  bottom: 0;
  font-family: var(--title-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.developed-with img{
  height: 60px;
}
.developed-by{
  padding: 0 50px;
}
.developed-with{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
}
.developed-with span{
  margin-right: 10px;
}
@media (max-width: 767px){
  #home{
    padding-bottom: 150px;
  }
  header{
    padding-top: 60px !important;
  }
  .nav-profile{
    transform: scale(2);
    transform-origin: left;
  }
  nav svg{
    transform: scale(2);
    transform-origin: right;
  }
  .menu-modal.open{
    transform: translateY(50px) scale(1.75);
    padding-left: 175px;
  }
  .menu-modal{
    padding-left: 175px;
  }
  footer{
    position: fixed !important;
    bottom: 0 !important;
  }
}
@media(max-width: 375px){
  .menu-modal, .menu-modal.open{
    padding-left: 225px;
  }
}