.highlight{
    font-family: 'Georgia', monospace;
    font-weight: 600;
    position: relative;
    width: max-content;
}
.highlight::after{
    content: '';
    position: absolute;
    z-index: -5;
    top: 45%;
    left: 3%;
    width: 100%;
    height: 35px;
    background: var(--secondary-accent);
    opacity: 0.8;
}